/exemplo1_Java/target/
/Operadores/target/
/exercicio4_aula01/target/
/Reajuste/target/
/Gasolina/target/
/Produto_pagamento/target/
/area_perimetro/target/
/area_circunferencia/target/
/valores/target/
/Exemplo_OO/target/
/Exerccicio1_OO/target/
/Calculo_media/target/
